#moviespage{
    background-color: rgb(166, 200, 223);
    height: 100vh;
}

.card{
    min-width: 20rem;
    min-height: 10rem;
    margin-bottom: 0.5rem;
    background-color: rgb(190, 209, 222);
    border: none;
}

a{
    text-decoration: none;
}